.header {
    display: flex;
    background-color: whitesmoke;
    padding: 15px;
    height: 20px;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    font-stretch: narrower;
    font-weight: bold;
    color: sandybrown;
    font-weight: bold;
    text-decoration: none;
}

.header-menu{
    display: flex;    
}
.header_m {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;

}

.nav-item {
    margin-left: 20px;
    
}

nav ul li a {
    text-decoration: none;
    color: black;
    justify-content: center;
}

.nav-item a {
    text-decoration: none;
    color: sandybrown;
    font-weight: bold;
    text-decoration: none;
}


.container {
    display: flex;
    justify-content: auto;
    align-items: auto;
    height: 6px;
    
}

.bodymenu {
    display: flex;
    
}

.menu_list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 20px;
    justify-content: center;

}



nav h1 ul li .nav-item {
    display: flex;
    justify-content: center;
}

.item1 {
    display:flex;
    margin-right: 25px;
    justify-content: center;
}

.ide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}
.image {
    width: auto;
    height: auto;
}


.image img{
    height: auto;
    width: 150%;
    height:550px;
}


.head {
    width:fit-content;
    font-size: 1rem;
    text-align:left;
    margin-bottom: lem;
    justify-content: last baseline;
}

.par {
    border-width: inherit;
    font-size: 1rem;
    justify-content:stretch;
}
.cous {
    justify-content: space-between;
    width: fit-content;
    text-align: left;
    margin-bottom: lem;
}
p {
    color: black;
    justify-items: auto;
}

.done {
    font: 1em sans-serif;
    font-weight: bolder;
    justify-content:center;
}

.project {
    font: 1em sans-serif;
    font-weight: bold;
}

.client {
    font-size: 15px;
    font-weight: normal;
}

.box {
    width: 120px;
    height: 40px;
    border: 2px solid saddlebrown;
    background-color: saddlebrown;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
